.zoom {
	overflow: hidden;
	cursor: zoom-in;
}

.zoom img {
	width: 100%;
	height: auto;
	position: relative;
}

.jsZoomTouch:after {
	content: 'Pinch to Zoom';
	position: absolute;
	top: 0;
	right: 0;
}